body {
    font-family:Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: stretch; /* halves stretch to full height */
    background-color: black;
}

h2 {
    font-size: 22px;
    margin: 0;
}


/* import font for logo */
@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

/* first half */
#first-half {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 475px;
    background-image: url('img/plant-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* odin logo  and text + transparent background */
#odin-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 220px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* transparent background */
    height: 120px;
}

#odin {
    display: flex;
    font-family:norse-bold;
    font-size: 100px;
    color: rgb(253, 250, 246);
    align-items: center;
}

#credits {
    font-family: monospace;
    font-size: 12px;
    position: absolute; 
    bottom: 0; 
    text-align: center;
    color: antiquewhite;
    padding: 30px;
}

a {
    color: antiquewhite; /*adjusting the link to be white*/
}
/* end of first half of the page*/

#second-half {
    width: 850px;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

/* section 1 */

#section-one {
    background-color: rgb(243, 243, 243);
    padding-left: 50px;
    padding-right: 75px;
    padding-top: 15vh;
}

#you-know {
    padding-top: 30px;
    padding-bottom:60px;
}

/* section 2 */

#lets-do-it {
    padding-left: 10px;
    padding-bottom: 10px;
}

input,
select,
textarea {
    box-sizing: border-box;
    border-color: #E5E7EB;
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

input:focus {
    border-color: blue;
    outline: none;
}

#section-two {
    background-color: white;
    padding: 30px;
}

#password_input:invalid {
    border-color: red;
}

#line-one, #line-two, #line-three {
    display: flex;
    padding: 10px;
    gap: 70px;
}

#first-name, #last-name, #email, #tel, #password, #confirm-password {
    display:flex;
    flex-direction: column;
}

/* section 3 */

#section-three {
    padding: 35px;
    background-color:rgb(243, 243, 243);
}

#submit {
    border-radius: 8px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    color: aliceblue;
    background-color: #596D48;
}

#login {
    text-decoration: none;
    color: #596D48;
}